<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides pager="false" autoplay="2000" loop="true" speed="1500" effect="fade">
    <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
    </ion-slide>
  </ion-slides>

  <div class="login-container">
    <img ng-if="coop_details.logo" class="logo" src="assets/img/logo/ecowas_logo.jpg"  style="width: 300px"/>
    <form [formGroup]="login" (ngSubmit)="doLogin()">
        <span ng-if="coop_details">
       {{ coop_details }}AAAA
        </span>
      <strong>Login:</strong>
      <ion-item>
        <ion-input formControlName="username" type="text" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <button ion-button margin color="danger">LOGIN</button>
        <p (click)="openResetPassword()">
          <strong>Forgot your password?</strong>
        </p>
    </form>
  </div>
</ion-content>